{% extends "base.html" %}


{% load smart_if %}


{% block extra_scripts %}
<!--
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.2/scriptaculous.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}templates/n21alpha/js/lightbox.js"></script>
 -->
{% endblock %}

{% comment %}
{% block hightlight_error %}
	{% if messages %}
	<div class="grid_16">
	    {% for message in messages %}
			<div class="ui-widget">
				{% if message|slice:"0:1" == "1" %}
				<div class="ui-state-highlight ui-corner-all" style="padding:2px 5px 2px 5px; margin:10px 0px 10px 0px;">
					<span class="ui-icon ui-icon-info" style="float: left; margin-right:5px;"></span> <strong>Success</strong> : {{ message|slice:"2:" }}
				</div>
				{% else %}
				<div class="ui-state-error ui-corner-all" style="padding:2px 5px 2px 5px; margin:10px 0px 10px 0px;">
					<span class="ui-icon ui-icon-alert" style="float: left; margin-right:5px;"></span> <strong>Alert</strong> : {{ message|slice:"2:" }}
				</div>
				{% endif %}
			</div>
	    {% endfor %}
	</div>
	{% endif %}
{% endblock %}
{% endcomment %}

{% block content %}{% endblock %}