{% extends "base.html" %}


{% load smart_if %}

{% block extra_scripts %}
<script src="{{ MEDIA_URL }}templates/{{ SITE_STYLE }}/js/jquery.jeditable.mini.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block breadcrumb %}
	<div class="grid_16 breadcrumb">
		<div class="breadcrumb-trail">
			<a href="{% url user_dashboard %}">Dashboard</a>
			{% for crumb in breadcrumb %}
				 &raquo; <a href="{{ crumb.url }}" {% if forloop.last %}id="current"{% endif %} >{{ crumb.title }}</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}


{% block hightlight_error %}
	{% if messages %}
	<div class="grid_16">
	    {% for message in messages %}
			<div class="uniForm">
				{% if message|slice:"0:1" == "1" %}
				<div id="OKMsg" style="padding:2px 5px 2px 5px; margin:10px 0px 10px 0px;">
					<span class="flash-msg-ok" style="float: left; margin-right:5px;"></span> <strong>Success</strong> : {{ message|slice:"2:" }}
				</div>
				{% else %}
				<div id="errorMsg" style="padding:2px 5px 2px 5px; margin:10px 0px 10px 0px;">
					<span class="flash-msg-alert" style="float: left; margin-right:5px;"></span> <strong>Alert</strong> : {{ message|slice:"2:" }}
				</div>
				{% endif %}
			</div>
	    {% endfor %}
	</div>
	{% endif %}
{% endblock %}