{% extends "story/base.html" %}

{% load i18n %}
{% load smart_if %}
{% load uni_form_tags %}
{% load discussion_tags %}

{% block content %}
<div class="clear"></div>

<div>
<form action="{{ form_url }}" class="uniForm" method="post">
<div style="float:left;:width:560px;position:relative;">
	
	
	<div class="genericForm contentheader">	
		<h4>Package Information</h4>
		<div class="help-text" style="margin-bottom: 10px;">All fields marked with * are required.  Only "Approved"(green checkmark) packages, stories, & assets will be available for partner placements. If your package has been rejected ... please see your editor's comments for details why.</div>
		{% if metastory_id %}
			<div style="padding:0px 5px 5px 5px;">
				<strong>Created by:</strong> {{ audit.created_by }} <strong>at</strong> {{ audit.created_at|date:"M d, Y @ g i a" }}
				<br/>
				<strong>Last updated by:</strong> {{ audit.updated_by }} <strong>at</strong> {{ audit.updated_at|date:"M d, Y @ g i a" }}
				<br/>
				<strong><span class="icon-{% if metastory.status == "Approved" %}accept{% else %}{% if metastory.status == "Rejected" %}exclamation{% else %}pending{% endif %}{% endif %}"></span> Status:</strong> {{metastory.status}} - <a href="{% url metastory_status metastory_id %}"> View Full Status Tree</a>
			</div>
		{% endif %}
		
		<br/>
	
		{% with form.helper as helper %}
		    {% uni_form form helper %}
		{% endwith %}
	
		<fieldset class="inlineLabels">
		<div class="ctrlHolder " id="div_id_inherited_tags">
			<label style="padding-top:9px;">Inherited Tags:</label>
			<span class="inputDiv" id="inherited_tags"></span>
		</div>
		<div class="ctrlHolder " id="div_id_tags">
			<label>Tags:</label>
			<div class="inputDiv" style="margin-left:48%;">
			{% for tag in tags %}
				<input type="checkbox" name="tag_{{tag.id}}" value="{{tag}}" id="tag_{{tag.id}}" {% for used_tag in used_tags %} {% if tag == used_tag %} checked="true" {% endif %} {% endfor %}  /> {{tag}}
				{% if forloop.counter|divisibleby:2 %}<br/>{% endif %}
			{% endfor %}
			</div>
		</div>
		</fieldset>
	
	
		<div class="clear"></div>
		<br/>
		<div class="inputSubmit">
			<input type="submit" value="Save Package Information &rarr;">
		</div>
	
	</div>
</div>

<div class="genericForm" style="float:left;:width:560px;position:relative;">
	{% if metastory_id %}
		<h4>Package Stories <a href="{% url story_new metastory_id %}">[+ Add]</a></h4>
		<div class="help-text">Each package has one or more stories attached to it. To add a new story click the [+ Add] link above. To edit, click the story's title.</div>
		{% for story in stories %}
		<div class="sidebar-right-listing alternating-row-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
			<span class="icon-{% if story.status == "Approved" %}accept{% else %}{% if story.status == "Rejected" %}exclamation{% else %}pending{% endif %}{% endif %}"></span>
			{% for photo in story_photos %}
				{% if photo.id == story.primary_image %}
				<a class="zoom" rel="group" title="{{ photo.title }}" href="{{ photo.get_original_url }}"><img src="{{ photo.get_tiny_thumbnail_url }}" style="vertical-align:middle" class="outline" /></a>
				{% endif %}
			{% endfor %}
			{% if primary_image.id == story.primary_image %}
			<a class="zoom" rel="group" title="{{ primary_image.title }}" href="{{ primary_image.get_original_url }}"><img src="{{ primary_image.get_tiny_thumbnail_url }}" style="vertical-align:middle" class="outline" /></a>
			{% endif %}
			<a href="{% url story_edit metastory_id story.id %}" style="vertical-align:middle">{{ story }} </a><!-- <span>[clone]</span> -->
		</div>
		{% endfor %}
		{% if stories.count == 0 %}
			<div>You have not created any stories yet. <br/>Why not <a href="{% url story_new metastory_id %}">create one?</a></div>
		{% endif %}
	{% else %}
		<h4>Package Stories</h4>
		<div>You have not created any stories yet.</div>
	{% endif %}
	
	<div class="clear"></div>
	<br/>
	<br/>
	<h4>Package Primary Image</h4>
	<div class="help-text">Select the primary image to represent your package, from the approved image assets of the stories within. <span class="formHint" id="hint_id_package_image"><a class="helptip">More Help</a></span></div>
	<div class="clear"></div>
	{% if primary_image %}
	<div class="sidebar-right-listing image-selector alternating-row-selected">
		<div class="image-selector-radio"><input type="radio" name="primary_image" id="id_primary_image" checked value="{{ primary_image.id }}"></div>
		<div class="image-selector-thumb"><a class="zoom" rel="group" title="{{ primary_image.title }}" href="{{ primary_image.get_original_url }}"><img src="{{ primary_image.get_thumbnail_url }}" class="outline" /></a></div>
		<div class="image-selector-info">
			<span class="bold">Title:</span> {{ primary_image.title }}
			<br/>
			<span class="bold">Width & Height:</span> {{ primary_image.get_width }} x {{ primary_image.get_height }}
			<br/>
			<span class="bold">Caption:</span> {{ primary_image.summary }}
		</div>
		<div class="clear"></div>
	</div>
	{% endif %}
	{% for photo in story_photos %}
		{% if photo.id != primary_image.id %}
		<div class="sidebar-right-listing image-selector alternating-row-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
			<div class="image-selector-radio"><input type="radio" name="primary_image" id="id_primary_image" value="{{ photo.id }}"></div>
			<div class="image-selector-thumb"><a class="zoom" rel="group" title="{{ photo.title }}" href="{{ photo.get_original_url }}"><img src="{{ photo.get_thumbnail_url }}" class="outline" /></a></div>
			<div class="image-selector-info">
				<span class="bold">Title:</span> {{ photo.title }}
				<br/>
				<span class="bold">Width & Height:</span> {{ photo.get_width }} x {{ photo.get_height }}
				<br/>
				<span class="bold">Caption:</span> {{ photo.summary }}
			</div>
			<div class="clear"></div>
		</div>
		{% endif %}
	{% endfor %}
	
	
	<div class="clear"></div>
	<br/>
	<br/>
	<h4>News21 Site Image (440x250)</h4>
	<div class="help-text">Select the primary image to represent your package <strong>on the News21.com site</strong>, from the approved image assets of the stories within. <span class="formHint" id="hint_id_news21_image"><a class="helptip">More Help</a></span></div>
	<div class="clear"></div>
	{% if secondary_image %}
	<div class="sidebar-right-listing image-selector alternating-row-selected">
		<div class="image-selector-radio"><input type="radio" name="secondary_image" id="id_secondary_image" checked value="{{ secondary_image.id }}"></div>
		<div class="image-selector-thumb"><a class="zoom" rel="group" title="{{ secondary_image.title }}" href="{{ secondary_image.get_original_url }}"><img src="{{ secondary_image.get_thumbnail_url }}" class="outline" /></a></div>
		<div class="image-selector-info">
			<span class="bold">Title:</span> {{ primary_image.title }}
			<br/>
			<span class="bold">Width & Height:</span> {{ primary_image.get_width }} x {{ primary_image.get_height }}
			<br/>
			<span class="bold">Caption:</span> {{ primary_image.summary }}
		</div>
		<div class="clear"></div>
	</div>
	{% endif %}
	{% for photo in site_photos %}
		{% if photo.id != secondary_image.id and photo.get_width == 440 and photo.get_height == 250 %}
		<div class="sidebar-right-listing image-selector alternating-row-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
			<div class="image-selector-radio"><input type="radio" name="secondary_image" id="id_secondary_image" value="{{ photo.id }}"></div>
			<div class="image-selector-thumb"><a class="zoom" rel="group" title="{{ photo.title }}" href="{{ photo.get_original_url }}"><img src="{{ photo.get_thumbnail_url }}" class="outline" /></a></div>
			<div class="image-selector-info">
				<span class="bold">Title:</span> {{ photo.title }}
				<br/>
				<span class="bold">Width & Height:</span> {{ photo.get_width }} x {{ photo.get_height }}
				<br/>
				<span class="bold">Caption:</span> {{ photo.summary }}
			</div>
			<div class="clear"></div>
		</div>
		{% endif %}
	{% endfor %}
	
	
</div>
</form>
</div>


	<div class="clear"></div>
	<br/><br/>
	
	
	<div class="grid_16 genericForm contentheader">
	<h4>Package Geotags (Reverse Inherited)</h4>
	<div class="help-text">This displays the geo-tagged assets of all the stories within this package. To edit a point please edit the asset.</div>
	<div align="center"><div id="map" class="bigmap"></div></div>
	</div>
	
	
	<div class="clear"></div>
	<br/><br/>
	
	
	<div class="grid_16 genericForm contentheader">
	<h4>Package Code Repositories</h4>
	<div class="help-text">Please send source code or repository urls via email.</div>
	{% for repo in repos %}
		<div style="padding:10px;">
			<strong>{{repo.title}}</strong> <br/> 
			&nbsp;&nbsp;&nbsp;{{repo.description}} <br/>
			&nbsp;&nbsp;&nbsp;URL: {{repo.code_url}}
		</div>
	{% endfor %}
	{% if repos.count == 0 %}
		<div>You have not created any code repositories yet.</div>
	{% endif %}
	</div>
	
	
	<div class="clear"></div>
	<br/><br/>
	

	<div class="grid_16 contentheader" style="background-color:#efefef;">
		<br/>
		<h4 id="editorscomments">Editor's Comments</h4>
		<div><span class="icon-{% if metastory.status == "Approved" %}accept{% else %}{% if metastory.status == "Rejected" %}exclamation{% else %}pending{% endif %}{% endif %}"></span> STATUS: {{metastory.status}} : EDITING STAGE: {{metastory.stage}} </div>
		{% comment_tree_for_object metastory as comments %}
		{% for comment in comments %}
			<div style="padding:15px;" class="sidebar-right-listing image-selector alternating-row-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
				Commented: {{ comment.pub_date|date:"M d, Y @ f" }} By: {{ comment.user }}<br/>
				{{ comment }}
			</div>
		{% endfor %}
		{% if comments.count == 0 %}
			<div>Your editors have not made any comments yet.</div>
		{% endif %}
		{% if is_editor %}
			<form action="{% url editorsdesk_update_status_metastory metastory_id %}" class="uniForm" method="post">
				
				{% with editorcommentform.helper as helper %}
				    {% uni_form editorcommentform helper %}
				{% endwith %}
				
			</form>
		{% endif %}
	</div>
	
	
	<div class="clear"></div>
	<br/><br/>
	
	
{% endblock %}



{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}templates/{{ SITE_STYLE }}/css/google.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}templates/{{ SITE_STYLE }}/css/openlayers.css" />

<link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni-form-generic.css" type="text/css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni-form.css" type="text/css" />
{% endblock %}

{% block extra_scripts %}
<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ google_maps_api_key }}'></script>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}uni_form/uni-form.jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}ajax_validation/jquery-ajax-validation.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}ajax_validation/jquery-uni-form.js"></script>
{% endblock %}


{% block inline_scripts %}
	$(document).ready(function() {
		var csoption;
		
		{% if not metastory_id %}
		//$('#id_headline').slugify('#id_slug');
		{% endif %}
		
		$("#id_newsrooms").click(function() {
			adjustTags();
			
			return true;
		});
		
		function adjustTags() {
			
			$("#id_newsrooms option").each(function(){  
				csoption = $(this).text().toLowerCase();
				$(".inputDiv :checkbox").each(function(){  
					$("#inherited_tags").html('');
					if( $(this).val() == csoption ){
						$(this).attr('checked', false);
					}
				});
			});
			
			$("#id_newsrooms option:selected").each(function(){  
				csoption = $(this).text().toLowerCase();
				$(".inputDiv :checkbox").each(function(){  
					if( $(this).val() == csoption ){
						$('#inherited_tags').html($('#inherited_tags').html() + '<span class="tag">' +$(this).val()+ '</span>');
						$(this).attr('checked', true);
					}
				});
			});
			
		};
		
		adjustTags();
	});
	
	
	
	var map;
    function init() {
        map = new OpenLayers.Map('map');
		var lon = -98.6;
		var lat = 38.5;
		var zoom = 3;
        var ghyb = new OpenLayers.Layer.Google(
            "Google Hybrid",
            {type: G_HYBRID_MAP, numZoomLevels: 20}
        );
		map.addLayers([ghyb]);
        map.setCenter(new OpenLayers.LonLat(lon, lat), zoom);
		
		map.addControl(new OpenLayers.Control.MousePosition());
		
		var markers = new OpenLayers.Layer.Markers( "Markers" );
		map.addLayer(markers);

		var size = new OpenLayers.Size(32,32);
		var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
		var icon = new OpenLayers.Icon('http://maps.google.com/mapfiles/ms/micons/red-dot.png',size,offset);

		{% for tag in geotags %}
		var marker_{{ tag.asset.id }} = new OpenLayers.Marker(new OpenLayers.LonLat({{ tag.geotag.point.x }},{{ tag.geotag.point.y }}),icon.clone());
		markers.addMarker(marker_{{ tag.asset.id }});
		marker_{{ tag.asset.id }}.events.register("mousedown", marker_{{ tag.asset.id }}, mousedown)
		{% endfor %}
		
		function mousedown(evt) {
			//popup.lonlat = map.getLonLatFromViewPortPx(evt.xy);
			//popup.updatePosition()
			//popup.toggle();
			//OpenLayers.Event.stop(evt);
		}
		
		popup  = new OpenLayers.Popup("asset",
			new OpenLayers.LonLat(lon,lat),
			new OpenLayers.Size(30,30),
			"W"
		);
		popup.opacity = 1;
		popup.panMapIfOutOfView = true;
		popup.closeOnMove  = true;
		map.addPopup(popup);
		popup.hide();
		
    }
	
	init();
	
	
	$("a.helptip").parent(".formHint").click(function() {
		var hid = $(this).attr('id');
		window.open('/docs#metastory_'+hid.replace('hint_id_',''), '_blank');
	});
{% endblock %}
