{% extends "story/base.html" %}


{% load i18n %}
{% load smart_if %}
{% load uni_form_tags %}
{% load discussion_tags %}


{% block content %}
<div class="clear"></div>

<div>
<form action="{{ form_url }}" class="uniForm" method="post">
<div class="grid_10">
	<div class="genericForm contentheader">
		<h4>Story Info</h4>
		
		{% if story_id %}
			<div style="padding:5px;">
				<span class="icon-{% if story.status == "Approved" %}accept{% else %}{% if story.status == "Rejected" %}exclamation{% else %}pending{% endif %}{% endif %}"></span> STATUS: {{story.status}}
				<a href="#editorscomments">[View Editor's Comments]</a>
			</div>
		{% endif %}
		
		{% with form.helper as helper %}
		    {% uni_form form helper %}
		{% endwith %}
		
		<fieldset class="inlineLabels">
			<div class="ctrlHolder " id="div_id_authors">
				<label for="id_authors">Authors:</label>
				<select name="authors" id="id_authors" class="selectmultiple" multiple="true" size="8">
					{% for member in newsrooms_members %}
						<option {% for author in authors %} {% if member == author %} selected {% endif %} {% endfor %}  value="{{member.id}}">{{ member }} ( {%for newsroom in member.newsroom_members.all%} {{ newsroom }} {% endfor %} ) </option>
					{% endfor %}
				</select>
			</div>
		
			<div class="ctrlHolder " id="div_id_inherited_tags">
				<label style="padding-top:9px;">Inherited Tags:</label>
				<span class="inputDiv" id="inherited_tags"></span>
			</div>
			<div class="ctrlHolder " id="div_id_tags">
				<label>Tags:</label>
				<div class="inputDiv" style="margin-left:48%;">
				{% for tag in tags %}
					<input type="checkbox" name="tag_{{tag.id}}" value="{{tag}}" id="tag_{{tag.id}}" {% for used_tag in used_tags %} {% if tag == used_tag %} checked="true" {% endif %} {% endfor %}  /> {{tag}}
					{% if forloop.counter|divisibleby:2 %}<br/>{% endif %}
				{% endfor %}
				</div>
			</div>
		</fieldset>
		
		<div class="clear"></div>
		
		<h4>Social Checklist</h4>
		<fieldset class="inlineLabels">
			<div class="ctrlHolder " id="div_id_twitter_description">
				<label>Twitter Tweet:
					<br/><br/>
					<span id="charlimittwitter"></span>
				</label>
				<span class="inputDiv">
					<textarea name="twitter_description" id="twitter_description" rows="8" cols="40">{{ twitter_payload.blurb }}</textarea>
				</span>
			</div>
			<div class="ctrlHolder " id="div_id_facebook_description">
				<label>Facebook Status:
					<br/><br/>
					<span id="charlimitfacebook"></span>
				</label>
				<span class="inputDiv">
					<textarea name="facebook_description" id="facebook_description" rows="8" cols="40">{{ facebook_payload.blurb }}</textarea>
				</span>
			</div>
			<div class="ctrlHolder " id="div_id_upiu_description">
				<label>UPIU Post:
					<br/><br/>
					<span id="charlimitupiu"></span>
				</label>
				<span class="inputDiv">
					<textarea name="upiu_description" id="upiu_description" rows="8" cols="40">{{ upiu_payload.blurb }}</textarea>
				</span>
			</div>
		</fieldset>

		<div class="clear"></div>
		<br/>
		
		<div class="inputSubmit">
			<input type="submit" value="Continue &rarr;">
		</div>
		
		<div class="clear"></div>
		<br/>
		
		{% if story_id %}
		<h4>Audit</h4>
		<div><strong>Created by:</strong> {{ audit.created_by }} <strong>at</strong> {{ audit.created_at|date:"M d, Y @ g i a" }}</div>
		<div><strong>Last Updated by:</strong> {{ audit.updated_by }} <strong>at</strong> {{ audit.updated_at|date:"M d, Y @ g i a" }}</div>
		
		<div class="clear"></div>
		<br/><br/>
		
		<h4>Suggested Publish Dates</h4>
		{% with pubdateform.helper as helper %}
		    {% uni_form pubdateform helper %}
		{% endwith %}
		
		<div align="right">
			<input type="button" id="add_publishdate" value="Add Suggestion">
		</div>
		<div class="clear"></div>
		<p>
			<label>Current Suggestions:</label>
			<span class="inputDiv" id="current_suggested_dates">
				{% for pdate in story_pubdates %}
				<div style="padding:2px;">{{pdate.title}} : {{pdate.available_at|date:"M d, Y"}}-{{pdate.expires_at|date:"M d, Y"}} </div>
				{% endfor %}
				{% comment %}
				<a href="##"><img src="{{MEDIA_URL}}templates/n21alpha/images/cross.png" style="vertical-align: middle;" ></a>
				{% endcomment %}
			</span>
		</p>
		{% endif %}
		
		<div class="clear"></div>
		<br/><br/>
		<h4>Story Geotags (Reverse Inherited)</h4>
		<div id="map" class="smallmap"></div>
	</div>
</div>
	
<div class="grid_6">
	<div class="contentheader">
		<h4>Story Assets</h4>
		{% if story_id %}
			<div>Add: <a href="{% url plaintext_new metastory_id story_id %}">Plain Text</a> | <a href="{% url video_new metastory_id story_id %}">Video</a> | <a href="{% url photo_new metastory_id story_id %}">Photo</a> | <a href="{% url audio_new metastory_id story_id %}">Audio</a><!-- | <a href="">Gallery</a>--> | <a href="{% url embed_new metastory_id story_id %}">Embed</a></div>
		{% else %}
			<div>You have not created any media assets yet.</div>
		{% endif %}
		{% for asset in media_assets %}
		<div class="sidebar-right-listing alternating-row-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
			{% if asset.get_child_name == "photo" %}
			<span class="icon-photo"></span><a href="{% url photo_edit metastory_id story_id asset.id %}">{{ asset }}</a>
			{% endif %}
			{% if asset.get_child_name == "plaintext" %}
			<span class="icon-plaintext"></span><a href="{% url plaintext_edit metastory_id story_id asset.id %}">{{ asset }}</a>
			{% endif %}
			{% if asset.get_child_name == "audio" %}
			<span class="icon-audio"></span><a href="{% url audio_edit metastory_id story_id asset.id %}">{{ asset }}</a>
			{% endif %}
			{% if asset.get_child_name == "video" %}
			<span class="icon-video"></span><a href="{% url video_edit metastory_id story_id asset.id %}">{{ asset }}</a>
			{% endif %}
			{% if asset.get_child_name == "swf" %}
			<span class="icon-audio"></span><a href="{% url swf_edit metastory_id story_id asset.id %}">{{ asset }}</a>
			{% endif %}
			{% if asset.get_child_name == "embed" %}
			<span class="icon-embed"></span><a href="{% url embed_edit metastory_id story_id asset.id %}">{{ asset }}</a>
			{% endif %}
			<br/>
			<span class="icon-{% if asset.status == "Approved" %}accept{% else %}exclamation{% endif %}"></span> {{ asset.status }}
		</div>
		{% endfor %}
		{% if media_assets.count == 0 %}
			<div>You have not created any media assets yet.</div>
		{% endif %}
		
		<div class="clear"></div>
		<br/>
		<br/>
		<h4>Story Primary Image</h4>
		<div class="formHint" id="hint_id_story_image" style="float:left;"><a class="helptip">What is a Primary Story Image?</a></div>
		<div class="clear"></div>
		{% if primary_image %}
		<div class="sidebar-right-listing image-selector alternating-row-selected">
			<div class="image-selector-radio"><input type="radio" name="primary_image" id="id_primary_image" checked value="{{ primary_image.id }}"></div>
			<div class="image-selector-thumb"><a class="zoom" rel="group" title="{{ primary_image.title }}" href="{{ primary_image.get_original_url }}"><img src="{{ primary_image.get_thumbnail_url }}" class="outline" /></a></div>
			<div class="image-selector-info">
				<span class="bold">Title:</span> {{ primary_image.title }}
				<br/>
				<span class="bold">Width & Height:</span> {{ primary_image.get_width }} x {{ primary_image.get_height }}
				<br/>
				<span class="bold">Caption:</span> {{ primary_image.summary }}
			</div>
			<div class="clear"></div>
		</div>
		{% endif %}
		{% for photo in story_photos %}
			{% if photo.id != primary_image.id %}
			<div class="sidebar-right-listing image-selector alternating-row-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
				<div class="image-selector-radio"><input type="radio" name="primary_image" id="id_primary_image" value="{{ photo.id }}"></div>
				<div class="image-selector-thumb"><a class="zoom" rel="group" title="{{ photo.title }}" href="{{ photo.get_original_url }}"><img src="{{ photo.get_thumbnail_url }}" class="outline" /></a></div>
				<div class="image-selector-info">
					<span class="bold">Title:</span> {{ photo.title }}
					<br/>
					<span class="bold">Width & Height:</span> {{ photo.get_width }} x {{ photo.get_height }}
					<br/>
					<span class="bold">Caption:</span> {{ photo.summary }}
				</div>
				<div class="clear"></div>
			</div>
			{% endif %}
		{% endfor %}
		
	</div>

</div>
</form>
</div>

	<div class="clear"></div>
	<br/>
	<br/>
	
	<div class="grid_16 contentheader">
		<br/>
		<h4 id="editorscomments">Editor's Comments</h4>
		<div><span class="icon-{% if story.status == "Approved" %}accept{% else %}{% if story.status == "Rejected" %}exclamation{% else %}pending{% endif %}{% endif %}"></span> STATUS: {{story.status}} : EDITING STAGE: {{story.stage}}</div>
		{% comment_tree_for_object story as comments %}
		{% for comment in comments %}
			<div style="padding:15px;" class="sidebar-right-listing image-selector alternating-row-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
				Commented: {{ comment.pub_date|date:"M d, Y @ f" }} By: {{ comment.user }}<br/>
				{{ comment }}
			</div>
		{% endfor %}
		{% if comments.count == 0 %}
			<div style="padding:10px;">Your editors have not made any comments yet.</div>
		{% endif %}
		{% if is_editor %}
			<form action="{% url editorsdesk_update_status_story metastory_id story_id %}" class="uniForm" method="post">
				
				{% with editorcommentform.helper as helper %}
				    {% uni_form editorcommentform helper %}
				{% endwith %}
			</form>
		{% endif %}
	</div>
	
	<div class="clear"></div>
	<br/>
	
{% endblock %}



{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}templates/n21alpha/css/google.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}templates/n21alpha/css/openlayers.css" />

<link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni-form-generic.css" type="text/css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni-form.css" type="text/css" />
{% endblock %}

{% block extra_scripts %}
<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ google_maps_api_key }}'></script>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}uni_form/uni-form.jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}ajax_validation/jquery-ajax-validation.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}ajax_validation/jquery-uni-form.js"></script>
{% endblock %}


{% block inline_scripts %}
	$(document).ready(function() {
		{% if not story_id %}
		$('#id_headline').slugify('#id_slug');
		{% endif %}
	});
	
	
	var map;
    function init() {
        map = new OpenLayers.Map('map');
		var lon = -98.6;
		var lat = 38.5;
		var zoom = 3;
        var ghyb = new OpenLayers.Layer.Google(
            "Google Hybrid",
            {type: G_HYBRID_MAP, numZoomLevels: 20}
        );
		map.addLayers([ghyb]);
        map.setCenter(new OpenLayers.LonLat(lon, lat), zoom);
		
		map.addControl(new OpenLayers.Control.MousePosition());
		
		var markers = new OpenLayers.Layer.Markers( "Markers" );
		map.addLayer(markers);

		var size = new OpenLayers.Size(32,32);
		var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
		var icon = new OpenLayers.Icon('http://maps.google.com/mapfiles/ms/micons/red-dot.png',size,offset);

		{% for tag in geotags %}
		var marker_{{ tag.asset.id }} = new OpenLayers.Marker(new OpenLayers.LonLat({{ tag.geotag.point.x }},{{ tag.geotag.point.y }}),icon.clone());
		markers.addMarker(marker_{{ tag.asset.id }});
		marker_{{ tag.asset.id }}.events.register("mousedown", marker_{{ tag.asset.id }}, mousedown)
		{% endfor %}
		
		function mousedown(evt) {
			//popup.lonlat = map.getLonLatFromViewPortPx(evt.xy);
			//popup.updatePosition()
			//popup.toggle();
			//OpenLayers.Event.stop(evt);
		}
		
		popup  = new OpenLayers.Popup("asset",
			new OpenLayers.LonLat(lon,lat),
			new OpenLayers.Size(30,30),
			"W"
		);
		popup.opacity = 1;
		popup.panMapIfOutOfView = true;
		popup.closeOnMove  = true;
		map.addPopup(popup);
		popup.hide();
		
    }
	
	init();
	
	function limitChars(textid, limit, infodiv)
	{
		var text = $('#'+textid).val();	
		var textlength = text.length;
		if(textlength > limit)
		{
			$('#' + infodiv).html('You cannot write more then '+limit+' characters!');
			$('#'+textid).val(text.substr(0,limit));
			return false;
		}
		else
		{
			$('#' + infodiv).html('You have '+ (limit - textlength) +' characters left.');
			return true;
		}
	}
	
	$(window).load(function () {
		{% if story_id %}
		$('#add_publishdate').click( function() {
			if( $('#id_available_at_year').val() != 0 && 
				$('#id_available_at_month').val() != 0 && 
				$('#id_available_at_day').val() != 0 &&
				$('#id_expires_at_year').val() != 0 && 
				$('#id_expires_at_month').val() != 0 && 
				$('#id_expires_at_day').val() != 0 ) {
				// 06/02/2010
			  	$.post("{% url storypublishdate_create metastory_id story_id %}", { "title": $('#id_title').val() , "available_at": $('#id_available_at_month').val() + '/' + $('#id_available_at_day').val() + '/' + $('#id_available_at_year').val() , "expires_at": $('#id_expires_at_month').val() + '/' + $('#id_expires_at_day').val() + '/' + $('#id_expires_at_year').val() },
				   function(data){
					$("#current_suggested_dates").append('<div style="padding:2px;">'+$('#id_title').val()+' : '+$('#id_available_at_month').val() + '/' + $('#id_available_at_day').val() + '/' + $('#id_available_at_year').val()+'-'+$('#id_expires_at_month').val() + '/' + $('#id_expires_at_day').val() + '/' + $('#id_expires_at_year').val()+' </div>');
					$('#id_title').val('');
					$('#id_available_at_year').val(0)
					$('#id_available_at_month').val(0)
					$('#id_available_at_day').val(0)
					$('#id_expires_at_year').val(0)
					$('#id_expires_at_month').val(0)
					$('#id_expires_at_day').val(0)
				   }, "json");
			
			}
		});
		{% endif %}
		
		$('#twitter_description').keyup(function(){
			limitChars('twitter_description', 140, 'charlimittwitter');
	 	})
		$('#facebook_description').keyup(function(){
			limitChars('facebook_description', 420, 'charlimitfacebook');
	 	})
		$('#upiu_description').keyup(function(){
			limitChars('upiu_description', 150, 'charlimitupiu');
	 	})

		limitChars('twitter_description', 140, 'charlimittwitter');
		limitChars('facebook_description', 420, 'charlimitfacebook');
		limitChars('upiu_description', 150, 'charlimitupiu');
	});
	
	
	$("a.helptip").parent(".formHint").click(function() {
		var hid = $(this).attr('id');
		window.open('/help#metastory_'+hid.replace('hint_id_',''), '_blank');
	});
{% endblock %}
