*.pyc
bin/*
develop-eggs/*
downloads/*
eggs/*
parts/*
.python-eggs/*
.installed.cfg
.DS_Store
apps/*
news21national/media/medialibrary/*
news21national/local_settings.py
news21national/media/uploads/*
news21national/media/ik_cache/*
news21national/media/avatars/*
logs/*
news21national/media/admin_media
rewrite.conf
