html, body {
	height:100%;
	/*
	background:url('../images/bg.png') repeat-x;
	background-color:#878787;
	*/
	font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
	font-size:11px;
}


input, textarea, select, p, span, div, button {
	font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
	font-size:11px;
}

h4 { margin-bottom: 10px; }

a,a:link{color:#6F6F6F;text-decoration:none}
a:hover{color:#6F6F6F;text-decoration:underline}


/*      */


.mininav { text-align:right; padding: 7px 15px 15px 0px; }
.sitetitle {float:left;font-size:14px;font-weight:bold;padding-top:4px;padding-left:10px;color:#333;}
.sitetitle-highlight {color:#F49900;font-size:14px;font-weight:bold;}

#header { background:url('../images/n21_header_bg.png') no-repeat; height:39px; }


.breadcrumb { font-size:12px; border-top:1px solid #DFDFDF; border-bottom:1px solid #DFDFDF; padding:4px 0px 4px 0px; background-color:#EFEFEF; margin-bottom:10px; }
	.breadcrumb-trail { padding:0px 10px 0px 10px; }
    .breadcrumb a, a:link { color:#F49900; text-decoration:underline; }
    .breadcrumb #current { color:#6F6F6F; text-decoration:none; font-weight:bold; }

.api-doc { font-size:12px; border-top:1px solid #DFDFDF; border-bottom:1px solid #DFDFDF; padding:4px 10px 4px 10px; background-color:#EFEFEF; margin-bottom:10px; }
	.api-doc a, a:link { color:#F49900; text-decoration:underline; }
	.api-doc a, a:link { color:#F49900; text-decoration:underline; }

.contentbody { background-color:#fff; padding:10px 10px 20px 10px; min-height:360px; }
.contentheader { padding:0px 10px 0px 10px; }
.contentcontainer { padding:10px; }

.sectionTitle { font-weight: bold; font-size: 14px; }


.formTitle { font-weight: bold; font-size: 18px; }


.footer { text-align:center; padding:2px; font-size:11px; margin-top:20px; border-top:1px solid #878787; padding-top:10px; }
    .footer a, a:link{color:#F49900;text-decoration:none}
    .footer a:hover{color:#F49900;text-decoration:underline}


/*      */


.genericForm {}
    .genericForm h4 {  }
    .genericForm p { margin-bottom:10px; }
        .genericForm p label { width:150px; float:left; padding:2px 7px 0px 0px; text-align:right; font-weight:bold; }
        .genericForm p input[type=text] { width:275px; }
        .genericForm p textarea { width:375px; }
        .genericForm p .inputDiv { float:left; padding:2px 0px 2px 0px; }
        .genericForm p .inputDiv input { margin-left:10px; }
		.genericForm p .inputDiv select { margin-left:10px; }
		.genericForm p .inputDiv textarea { margin-left:10px; }
        /*      */
        .genericForm p #available_at { width:80px; }
        .genericForm p #expires_at { width:80px; }
        .genericForm p #id_date_taken { width:80px; }
        .genericForm p #publishdatetitle { width:125px; }
        .ctrlHolder textarea#id_interest { height:75px; }
        .genericForm p #id_content { width:600px; height:300px; }
        .genericForm p #id_width { width:80px; }
        .genericForm p #id_height { width:80px; }
        
        /*      */
    .genericForm .inputSubmit { width:550px; text-align:right; }
    .genericForm .errorlist { color: red; margin-bottom:5px; }


/*      */


.icon-accept {float: left;padding-right:5px;margin:0px 0px 0px 5px;background:url('../images/accept.png') no-repeat;display:block;width:16px;height:16px;}
.icon-pending {float: left;padding-right:5px;margin:0px 0px 0px 5px;background:url('../images/note.png') no-repeat;display:block;width:16px;height:16px;}
.icon-exclamation {float: left;padding-right:5px;margin:0px 0px 0px 5px;background:url('../images/exclamation.png') no-repeat;display:block;width:16px;height:16px;}
.icon-package {float: left;padding-right:5px;margin:0px 0px 0px 5px;background:url('../images/page_white_stack.png') no-repeat;display:block;width:16px;height:16px;}
.icon-story {float: left;padding-right:5px;margin:0px 0px 0px 5px;background:url('../images/page_white.png') no-repeat;display:block;width:16px;height:16px;}
.icon-plaintext {float: left;padding-right:5px;margin:0px 0px 0px 5px;background:url('../images/page_white_text.png') no-repeat;display:block;width:16px;height:16px;}
.icon-photo {float: left;padding-right:5px;margin:0px 0px 0px 5px;background:url('../images/photo.png') no-repeat;display:block;width:16px;height:16px;}
.icon-audio {float: left;padding-right:5px;margin:0px 0px 0px 5px;background:url('../images/music.png') no-repeat;width:16px;height:16px;}
.icon-mplayer {float: left;padding-right:5px;margin:0px 0px 0px 5px;background:url('../images/television.png') no-repeat;width:16px;height:16px;}
.icon-embed {float: left;padding-right:5px;margin:0px 0px 0px 5px;background:url('../images/cog.png') no-repeat;width:16px;height:16px;}
.icon-video {float: left;padding-right:5px;margin:0px 0px 0px 5px;background:url('../images/film.png') no-repeat;width:16px;height:16px;}
.icon-add {float: left;padding-right:5px;margin:0px 0px 0px 5px;background:url('../images/add.png') no-repeat;display:block;width:16px;height:16px;}

.flash-msg-ok {margin:0px 0px 0px 5px;background:url('../images/accept.png') no-repeat;display:block;width:16px;height:16px;}
.flash-msg-alert {margin:0px 0px 0px 5px;background:url('../images/exclamation.png') no-repeat;display:block;width:16px;height:16px;}


/*      */


.sidebar-right-listing { padding-top: 4px; padding-left:5px; }
    
.alternating-row-even { background-color:#F5F5F5; }
.alternating-row-odd { }
.alternating-row-selected { background-color:#EFBE68; }

.image-selector #id_primary_image {vertical-align:top;}
.image-selector-radio { float:left;width:25px; }
.image-selector-thumb { float:left;width:115px; }
.image-selector-info { }

/*      */


.tag {-moz-border-radius-bottomleft:5px; -moz-border-radius-bottomright:5px; -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; background-color:#EFF2F7; border:1px solid #CCD5E4; color:#000000; cursor:default; float:left; font-size:11px; height:auto !important; margin:3px; overflow:hidden; padding:1px 3px;}
.tag a, a:link{color:#6F6F6F;text-decoration:none}
.tag a:hover{color:#6F6F6F;text-decoration:underline}


/*      */


.req { color: #CC0000; }
.bold { font-weight:bold;; }


/*      */


img.outline {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#F2F2F2 none repeat scroll 0 0;
    border:1px solid #CCC8C1;
    padding:3px;
}
.announcements{
	
}
.announcement-body{
	padding:0px 0px 0px 5px;
}

.announcement-title{
	padding:0px 0px 0px 5px;
	font-weight:bold;
	border-top:1px solid #df7d7d;
	border-bottom:1px solid #df7d7d;
	background-color:#ffdfdf;
}

.module-header{
	padding:0px 0px 0px 5px;
	border-top:1px solid #cFcFcF;
	border-bottom:1px solid #cFcFcF;
	background-color:#EFEFEF;
}




.selectdatewidget{
	width:auto !important;
	margin-right:5px;
}

fieldset.inlineLabels legend{
	font-size:14px !important;
}

.ctrlHolder ol, ul {
	list-style:none outside none !important;
}

.ctrlHolder ol, ul label {
	width: auto !important;
}


.news21_biography img {
	float:left;
	margin:0px 10px 10px 5px; 
	display:inline;
}

.news21_biography .bio_name {
	font-weight: bold;
	font-size: 14px;
}

.help-text{
    background-color:#a1cffc;
    padding:2px 5px 2px 5px;
}

.apidocs-panel h3 {
	background-color:#efefef;
	color: #000;
	margin:20px 0px 0px 0px;
	padding:4px;
}

.apidocs-panel h4 {
	color: #333;
}