{% extends "partner/base.html" %}


{% load i18n %}
{% load smart_if %}



{% block content %}
<div class="grid_16">
	<div style="padding:20px;">
		<h3>Partner Dashboard</h3>
		<h4>API KEY(s)</h4>
		<ul>
			{% for partner in partners %}
				<li>{{ partner }} : {% for key in partner.get_keys %}{{ key }}{% endfor %} <a href="{% url partner_generate_api_key partner.id %}">[Generate New Key]</a></li>
			{% endfor %}
		</ul>
	</div>
	
	<div class="clear"></div>
	
	<div style="padding:20px 20px 40px 20px;">
		<h4>Bios by: Newsroom</h4>
		{% for ntags in newsrooms %}
			<span class="tag"><a href="{% url partner_filter_bios_by_newsroom ntags.id %}">{{ ntags }}</a></span>
		{% endfor %}
	</div>
	
	<div class="clear"></div>
	
	<div style="padding:20px 20px 40px 20px;">
		<h4>Bios by: Reporter</h4>
		{% for reporter in reporters %}
			<span class="tag"><a href="{% url partner_filter_bios_by_reporter reporter.user.id %}">{{ reporter.first_name }} {{ reporter.last_name }}</a></span>
		{% endfor %}
	</div>
	
	<div class="clear"></div>
	
	<div style="padding:20px 20px 40px 20px;">
		<h4>Stories by: Category</h4>
	{% for category in categories %}
		<span class="tag"><a href="{% url partner_filter_stories_by_tag category %}">{{ category.name }}</a></span>
	{% endfor %}
	</div>
	
	<div class="clear"></div>
	
	<div style="padding:20px 20px 40px 20px;">
		<h4>Stories by: Newsroom</h4>
	{% for ntags in newsrooms %}
		<span class="tag"><a href="{% url partner_filter_stories_by_newsroom ntags.id %}">{{ ntags }}</a></span>
	{% endfor %}
	</div>
	
	<div class="clear"></div>
	
	<div style="padding:20px 20px 40px 20px;">
		<h4>Stories by: Reporter & Editor</h4>
	{% for reporter in reporters %}
		<span class="tag"><a href="{% url partner_filter_stories_by_reporter reporter.user.id %}">{{ reporter.first_name }} {{ reporter.last_name }}</a></span>
	{% endfor %}
	</div>
	
	<div class="clear"></div>
	
	
	
	<div style="padding:20px 20px 40px 20px;">
		<h4>Stories by: Year Published</h4>
		<!--<span class="tag"><a href="{% url partner_filter_stories_by_year 2006 %}">2006</a></span>
		<span class="tag"><a href="{% url partner_filter_stories_by_year 2007 %}">2007</a></span>
		<span class="tag"><a href="{% url partner_filter_stories_by_year 2008 %}">2008</a></span>
		<span class="tag"><a href="{% url partner_filter_stories_by_year 2009 %}">2009</a></span> -->
		<span class="tag"><a href="{% url partner_filter_stories_by_year 2010 %}">2010</a></span>
	</div>
	
</div>

{% endblock %}