{% extends "partner/base.html" %}


{% load i18n %}
{% load smart_if %}



{% block content %}
<div class="grid_16">
	<h3>Stories Filtered : {{ filter }}</h3>
	<div class="api-doc">
		API FORMATS : <strong>JSON , XML</strong>
		<span style="padding-left:30px;">API DOCS : <strong><a href="/api-docs/list-stories-by-{{ filtertype }}">List Stories By {{ filtertype|capfirst }}</a></strong></span>
	</div>
</div>
	<div class="grid_16">
		{% for story in stories %}
			
			<div>
				{% for image in images %}
					{% if story.primary_image == image.id %}
						<img src="{{ image }}">
					{% endif %}
				{% endfor %}
				{{story.metastory}}
				<h5><a href="{% url partner_story_budget story.id %}">{{ story }}</a></h5>
			</div>
		{% endfor %}
	</div>

{% endblock %}