{% extends "story/base.html" %}


{% load i18n %}
{% load smart_if %}
{% load charts %}



{% block extra_scripts %}
<script src="{{ MEDIA_URL }}templates/n21alpha/jquery-multiSelect/jquery.bgiframe.min.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}templates/n21alpha/jquery-multiSelect/jquery.multiSelect.js" type="text/javascript"></script>
{% endblock %}


{% block extra_styles %}
<link href="{{ MEDIA_URL }}templates/n21alpha/jquery-multiSelect/jquery.multiSelect.css" rel="stylesheet" type="text/css" />
{% endblock %}



{% block content %}
<div class="grid_16"><h3>Analytics</h3></div>


<div class="grid_16">
	<div>
		<h4>Reports:</h4>
		<div>&middot; <a href="{% url editorsdesk_analytics_report_alllast30days %}" >Last 30 Days All Profiles</a></div>
		<br/>
		<div>&middot; <a href="{% url editorsdesk_analytics_report_firstxmonths %}" >First X Months ... Yearly Comparison</a></div>
		<br/>
		<div>
			&middot; Visitors ... by profile, between date range ...<br/>
			<div style="padding-left:30px;">
				<form action="{% url editorsdesk_analytics_report_daterange %}" name="gaform" id="gaform" method="post">
					<input type="hidden" id="metrics_generated" name="metrics_generated" value="1"/>
					<label for="metrics_profile">Profiles: </label>
					<select id="metrics_profile" name="metrics_profile[]" multiple="multiple" style="width:200px" size="5">
						<option value=""></option>
						{% for p in profiles %}
						<option value="{{ p.profile_id }}">{{ p.profile_name }} : {{ p.profile_id }}</option>
						{% endfor %}
					</select>
					&nbsp;&nbsp;&nbsp;
					Between: <input type="text" id="metrics_startdate" name="metrics_startdate" class="jcal"> - <input type="text" id="metrics_enddate" name="metrics_enddate" class="jcal">
					<input type="submit" value="Generate &rarr;">
				</form>
			</div>
		</div>
	</div>
	<!--
	<div>
		<h4>Builder: (Super-Scaled Down Version of <a href="http://code.google.com/apis/analytics/docs/gdata/gdataExplorer.html" target="blank">gdataExplorer</a>)</h4>
		<form action="{% url editorsdesk_analytics %}" name="gaform" id="gaform" method="post">
			<input type="hidden" id="metrics_generated" name="metrics_generated" value="1"/>
			<label for="metrics_profile">Profiles: </label>
			<select id="metrics_profile" name="metrics_profile[]" multiple="multiple" style="width:200px" size="5">
				<option value=""></option>
				{% for p in profiles %}
				<option value="{{ p.profile_id }}">{{ p.profile_name }} : {{ p.profile_id }}</option>
				{% endfor %}
			</select>
			<br/>
			<label for="metrics_dimensions">Dimensions: </label>
			<select id="metrics_dimensions" name="metrics_dimensions[]" multiple="multiple" style="width:200px" size="5">
				<option value=""></option>
				<option value="month">month</option>
				<option value="year">year</option>
			</select>
			<br/>
			<label for="metrics_metrics">Metrics: </label>
			<select id="metrics_metrics" name="metrics_metrics[]" multiple="multiple" style="width:200px" size="5">
				<option value=""></option>
				<option value="visits">visits</option>
				<option value="visitors">visitors</option>
				<option value="pageviews">pageviews</option>
			</select>
			<br/>
			Between: <input type="text" id="metrics_startdate" name="metrics_startdate" class="jcal"> - <input type="text" id="metrics_enddate" name="metrics_enddate" class="jcal">
			<br/>
			<label for="metrics_sort">Sort By: </label>
			<select id="metrics_sort" name="metrics_sort[]" multiple="multiple" style="width:200px" size="5">
				<option value=""></option>
				<option value="month">month</option>
				<option value="year">year</option>
				<option value="visits">visits</option>
			</select>
			<br/>
			<label for="metrics_chart">Chart: </label>
			<select id="metrics_chart" name="metrics_chart">
				<option value=""></option>
				<option value="visits">visits</option>
				<option value="visitors">visitors</option>
				<option value="pageviews">pageviews</option>
			</select>
			<br/>
			<input type="submit" value="Generate &rarr;">
		</form>
	</div>
	 -->
	<br/><br/><br/>
</div>


{% if showMetrics %}
<div class="grid_16">
{% for pdata in profiles_data %}
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
	{% for chart in pdata.metrics %}
		<tr>
			<td>{{ chart.title }}</td>
		{% for m in chart.metrics %}
			<td>{{ m.name }} {{ m.value }} {{ m.type }}</td>
		{% endfor %}
		</tr>
	{% endfor %}
	</table>
	
	{{pdata.chart_data}}
	
	{% chart as c %}
		{% chart-data pdata.chart_data %}
		{% chart-type "line" %}
		{% chart-size "300x200" %}
		{% chart-colors "CC0000" %}
		{% chart-fill "EEEEEE" %}
		{% chart-legend "Sweet" %}
	{% endchart %}
	<img src="{{ c.url }}" width="300" height="200" />
	
	<br/><br/>
{% endfor %}
</div>
{% endif %}

{% endblock %}


{% block inline_scripts %}
	$(function() {
		$("#metrics_startdate").datepicker();
		$("#metrics_enddate").datepicker();
		
		$("#metrics_profile").multiSelect({ oneOrMoreSelected: '*' });
		$("#metrics_metrics").multiSelect({ oneOrMoreSelected: '*' });
		$("#metrics_dimensions").multiSelect({ oneOrMoreSelected: '*' });
		$("#metrics_sort").multiSelect({ oneOrMoreSelected: '*' });
	});
{% endblock %}