{% extends "editorsdesk/base.html" %}


{% load i18n %}
{% load smart_if %}
{% load discussion_tags %}


{% block content %}
	<div class="grid_10">
	<div class="genericForm contentheader">
		<form action="{{ form_url }}" method="post">
		<h4>Story Info</h4>
		{{ form.as_p }}
		<p>
			<label for="id_authors">Authors:</label>
			<select name="authors" id="id_authors" multiple="true" size="8">
				{% for member in newsrooms_members %}
					<option {% for author in authors %} {% if member == author %} selected {% endif %} {% endfor %}  value="{{member.id}}">{{ member }} ( {%for newsroom in member.newsroom_members.all%} {{ newsroom }} {% endfor %} ) </option>
				{% endfor %}
			</select>
		</p>
		<p>
			<label>Publish Title & Dates:</label>
			<span class="inputDiv">
				{% for pdate in story_pubdates %}
				{{pdate.title}} : {{pdate.available_at|date:"M d, Y"}}-{{pdate.expires_at|date:"M d, Y"}}<br/>
				{% endfor %}
			</span>
		</p>
		<div class="clear"></div>
		<p>
			<label>Tags:</label>
			<span class="inputDiv">
			{% for tag in tags %}
				<input type="checkbox" name="tag_{{tag.id}}" value="{{tag}}" id="tag_{{tag.id}}"  {% for used_tag in used_tags %} {% if tag.id == used_tag.id %} checked="true" {% endif %} {% endfor %}  > {{tag}}
				{% if forloop.counter|divisibleby:4 %}<br/>{% endif %}
			{% endfor %}
			</span>
		</p>
		
		<div class="clear"></div>
		<br/>

		<h4>Social Checklist</h4>
		<p>
			<label>Twitter Tweet:</label>
			<span class="inputDiv">
				<textarea name="twitter_description" id="twitter_description" rows="8" cols="40">{{ twitter_payload.blurb }}</textarea>
				<br/>
				<span id="charlimittwitter"></span>
			</span>
		</p>
		<p>
			<label>Facebook Status:</label>
			<span class="inputDiv">
				<textarea name="facebook_description" id="facebook_description" rows="8" cols="40">{{ facebook_payload.blurb }}</textarea>
				<br/>
				<span id="charlimitfacebook"></span>
			</span>
		</p>
		<p>
			<label>UPIU Post:</label>
			<span class="inputDiv">
				<textarea name="upiu_description" id="upiu_description" rows="8" cols="40">{{ upiu_payload.blurb }}</textarea>
				<br/>
				<span id="charlimitupiu"></span>
			</span>
		</p>
		
		<div class="clear"></div>
		<br/>
		
		<h4>Story Geotags</h4>
		<div id="map" class="smallmap"></div>
	</div>
	</div>
	
	<div class="grid_6">
	<div class="contentheader">
		<h4>Story Assets</h4>
		{% if story_id == '' %}
			<div>You have not created any media assets yet.</div>
		{% endif %}
		{% for asset in media_assets %}
		<div class="sidebar-right-listing alternating-row-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
			{% if asset.get_child_name == "photo" %}
			<span class="icon-photo"></span><a href="{% url photo_edit metastory_id story_id asset.id %}">{{ asset }}</a>
			{% endif %}
			{% if asset.get_child_name == "plaintext" %}
			<span class="icon-plaintext"></span><a href="{% url plaintext_edit metastory_id story_id asset.id %}">{{ asset }}</a>
			{% endif %}
			{% if asset.get_child_name == "audio" %}
			<span class="icon-audio"></span><a href="{% url audio_edit metastory_id story_id asset.id %}">{{ asset }}</a>
			{% endif %}
			{% if asset.get_child_name == "swf" %}
			<span class="icon-audio"></span><a href="{% url swf_edit metastory_id story_id asset.id %}">{{ asset }}</a>
			{% endif %}
			<br/>
			<span class="icon-{% if asset.status == "Approved" %}accept{% else %}exclamation{% endif %}"></span> {{ asset.status }}
		</div>
		{% endfor %}
		{% if media_assets.count == 0 %}
			<div>You have not created any media assets yet.</div>
		{% endif %}
		
		<div class="clear"></div>
		<br/>
		<br/>
		<h4>Story Primary Image</h4>
		
		{% if primary_image %}
		<div class="sidebar-right-listing image-selector alternating-row-selected">
			<div class="image-selector-thumb"><a class="zoom" rel="group" title="{{ primary_image.title }}" href="{{ primary_image.get_original_url }}"><img src="{{ primary_image.get_thumbnail_url }}" class="outline" /></a></div>
			<div class="image-selector-info">
				<span class="bold">Title:</span> {{ primary_image.title }}
				<br/>
				<span class="bold">Width & Height:</span> {{ primary_image.get_width }} x {{ primary_image.get_height }}
				<br/>
				<span class="bold">Caption:</span> {{ primary_image.summary }}
			</div>
			<div class="clear"></div>
		</div>
		{% endif %}
		{% for photo in story_photos %}
			{% if photo.id != primary_image.id %}
			<div class="sidebar-right-listing image-selector alternating-row-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
				<div class="image-selector-thumb"><a class="zoom" rel="group" title="{{ photo.title }}" href="{{ photo.get_original_url }}"><img src="{{ photo.get_thumbnail_url }}" class="outline" /></a></div>
				<div class="image-selector-info">
					<span class="bold">Title:</span> {{ photo.title }}
					<br/>
					<span class="bold">Width & Height:</span> {{ photo.get_width }} x {{ photo.get_height }}
					<br/>
					<span class="bold">Caption:</span> {{ photo.summary }}
				</div>
				<div class="clear"></div>
			</div>
			{% endif %}
		{% endfor %}
		</form>
	</div>
	</div>
	
	<div class="clear"></div>
	<br/>
	<br/>

	<div class="grid_16">
		{% comment_counts_for_objects [story] as comment_count_dict %}
		<h4>Editor's Comments {{comment_count_dict}}</h4>
		<div>STATUS: {{story.status}}</div>
		{% comment_tree_for_object story as comments %}
		<form action="{}" method="post">
			<textarea name="comment_body" id="comment_body" rows="8" cols="100"></textarea>

			<p><input type="submit" value="Comment &rarr;"></p>
		</form>
	</div>
{% endblock %}



{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}templates/n21alpha/css/google.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}templates/n21alpha/css/openlayers.css" />
{% endblock %}

{% block extra_scripts %}
<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ GOOGLE_MAPS_API_KEY }}'></script>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
{% endblock %}


{% block inline_scripts %}
	$(function() {
		$("#available_at").datepicker();
		$("#expires_at").datepicker();
		
		{% if not story_id %}
		jQuery('#id_headline').slugify('#id_slug');
		{% endif %}
		
		$("a.zoom").fancybox({
			'overlayOpacity'	:	0.7,
			'overlayColor'		:	'#FFF',
			'zoomSpeedIn'		:	500,
			'zoomSpeedOut'		:	500,
			'overlayShow'		:	false
		});
	});
	
	
	var map;
    function init() {
        map = new OpenLayers.Map('map');
        map.addControl(new OpenLayers.Control.LayerSwitcher());
        var gphy = new OpenLayers.Layer.Google(
            "Google Physical",
            {type: G_PHYSICAL_MAP}
        );
        var gmap = new OpenLayers.Layer.Google(
            "Google Streets", // the default
            {numZoomLevels: 20}
        );
        var ghyb = new OpenLayers.Layer.Google(
            "Google Hybrid",
            {type: G_HYBRID_MAP, numZoomLevels: 20}
        );
        var gsat = new OpenLayers.Layer.Google(
            "Google Satellite",
            {type: G_SATELLITE_MAP, numZoomLevels: 22}
        );
        map.addLayers([gmap, ghyb, gphy, gsat]);
        map.setCenter(new OpenLayers.LonLat(10.2, 48.9), 5);
    }
	
	init();
	
	function limitChars(textid, limit, infodiv)
	{
		var text = $('#'+textid).val();	
		var textlength = text.length;
		if(textlength > limit)
		{
			$('#' + infodiv).html('You cannot write more then '+limit+' characters!');
			$('#'+textid).val(text.substr(0,limit));
			return false;
		}
		else
		{
			$('#' + infodiv).html('You have '+ (limit - textlength) +' characters left.');
			return true;
		}
	}
	
	$(window).load(function () {
		
		$('#add_publishdate').click( function() {
		  	$.post("{% url storypublishdate_create metastory_id story_id %}", { "title": $('#publishdatetitle').val() , "available_at": $('#available_at').val() , "expires_at": $('#expires_at').val() },
			   function(data){
			     alert(data.success);
			   }, "json");
		});

		$('#twitter_description').keyup(function(){
			limitChars('twitter_tweet', 140, 'charlimittwitter');
	 	})
		$('#facebook_description').keyup(function(){
			limitChars('facebook_status', 420, 'charlimitfacebook');
	 	})
		$('#upiu_description').keyup(function(){
			limitChars('upiu_post', 150, 'charlimitupiu');
	 	})

		limitChars('twitter_description', 140, 'charlimittwitter');
		limitChars('facebook_description', 420, 'charlimitfacebook');
		limitChars('upiu_description', 150, 'charlimitupiu');
	});
{% endblock %}
