{% extends "story/base.html" %}


{% load i18n %}
{% load smart_if %}
{% load discussion_tags %}


{% block content %}

{% if not image %}
<div id="upload_dialog" class="upload_dialog" title="Upload Photo">
	<form action="{{ upload_form_url }}" name="upload_form" id="upload_form" method="post" enctype="multipart/form-data">
		{{ upload_form.as_p }}
	</form>
</div>
{% endif %}


<div class="grid_10">
<div class="genericForm contentheader">
	<form action="{{ form_url }}" method="post">
	<h4>Photo Info</h4>
	
	{% if mediaclass %}
		<div style="padding:5px;">
			<span class="icon-{% if mediaclass.status == "Approved" %}accept{% else %}exclamation{% endif %}"></span> STATUS: {{mediaclass.status}} 
			<a href="#editorscomments">[View Editor's Comments]</a>
		</div>
	{% endif %}

	{{ form.as_p }}
	<p>
		<label for="id_authors">Byline:</label>
		<select name="authors" id="id_authors" multiple size="8">
			{% for member in newsrooms_members %}
				<option {% for author in authors %} {% if member == author %} selected {% endif %} {% endfor %}  value="{{member.id}}">{{ member }} ( {%for newsroom in member.newsroom_members.all%} {{ newsroom }} {% endfor %} ) </option>
			{% endfor %}
		</select>
	</p>
	<p>
		<label>Inherited Tags:</label>
		<span class="inputDiv" id="inherited_tags">{% for tag in inherited_tags %} <span class="tag">{{tag}}</span> {% endfor %}</span>
	</p>
	
	<div class="clear"></div>
	
	<p>
		<label>Tags:</label>
		<span class="inputDiv">
		{% for tag in tags %}
			<input type="checkbox" name="tag_{{tag.id}}" value="{{tag}}" id="tag_{{tag.id}}"  {% for used_tag in used_tags %} {% if tag.id == used_tag.id %} checked {% endif %} {% endfor %} > {{tag}}
			{% if forloop.counter|divisibleby:4 %}<br/>{% endif %}
		{% endfor %}
		</span>
	</p>
	
	<div class="clear"></div>
	<br/>
	
	<p>
		<label>Flickr Description:</label>
		<span class="inputDiv">
			<textarea name="flickr_description" id="flickr_description" rows="8" cols="40">{{ flickr_payload.blurb }}</textarea>
			<br/>
			<span id="charlimitflickr"></span>
		</span>
	</p>
	
	<div class="clear"></div>
	<br/>
	
	<p>
		<label>GeoTag: {{ geotag.point }}</label>
		<div id="map" class="smallmap"></div>
	</p>
	
	<div class="clear"></div>
	<br/>
	
	<div class="inputSubmit">
		{% if image %}
		<input type="submit" value="Continue &rarr;">
		{% endif %}
	</div>
	
	</form>
</div>
</div>

<div class="grid_6">
	{% if image %}
	<h4>Metadata & URLs</h4>
	<a class="zoom" title="{{ image.title }}" href="{{ image.get_original_url }}"><img src="{{ image.get_thumbnail_url }}" class="outline" /></a>
	<div>Original Image:
		<ul>
			<li style="list-style-type:none;">Width : {{ image.get_width }}</li>
			<li style="list-style-type:none;">Height : {{ image.get_height }}</li>
			<li style="list-style-type:none;">URL : <a href="{{ image.get_original_url }}" target="_blank">{{ image.get_original_url }}</a></li>
			<li style="list-style-type:none;">::METADATA::</li>
			{% for key,value in image.get_info.items %}
			<li style="list-style-type:none;">{{ key }} : {{ value }}</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
</div>

<div class="clear"></div>
<br/>
<br/>
{% if image %}
<div class="grid_16 contentheader">
	{% comment_counts_for_objects [mediaclass] as comment_count_dict %}
	<h4 id="editorscomments">Editor's Comments {{comment_count_dict}}</h4>
	<div><span class="icon-{% if mediaclass.status == "Approved" %}accept{% else %}exclamation{% endif %}"></span> STATUS: {{mediaclass.status}} </div>
	{% comment_tree_for_object mediaclass as comments %}
	{% for comment in comments %}
		<div style="padding:15px;" class="sidebar-right-listing image-selector alternating-row-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
			Commented: {{ comment.pub_date|date:"M d, Y @ f" }} By: {{ comment.user }}<br/>
			{{ comment }}
		</div>
	{% endfor %}
	{% if comments.count == 0 %}
		<div>Your editors have not made any comments yet.</div>
	{% endif %}
	{% if is_editor %}
		<form action="{% url editorsdesk_update_status_multimedia mediaclass.id %}" method="post">
			<textarea name="comment_body" id="comment_body" rows="8" cols="100"></textarea>
			<br/>
			<select name="story_status" id="story_status" style="float:left;width:150px;margin-right:20px;">
				<option value="Pending Approval">Pending Approval</option>
				<option value="Rejected" {% if story.status == "Rejected" %} selected {% endif %} >Rejected</option>
				<option value="Approved" {% if story.status == "Approved" %} selected {% endif %} >Approved</option>
			</select>
			<input type="submit" value="Comment &rarr;">
		</form>
	{% endif %}
</div>

<div class="clear"></div>
<br/>
{% endif %}


{% endblock %}


{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}templates/n21alpha/css/google.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}templates/n21alpha/css/openlayers.css" />
{% endblock %}

{% block extra_scripts %}
<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ google_maps_api_key }}'></script>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
{% endblock %}




{% block inline_styles %}
	.ui-dialog-titlebar-close { display: none; }
{% endblock %}


{% block inline_scripts %}
	$(function() {
		$("#id_date_taken").datepicker();
		
		{% if not image %}
			$("#upload_dialog").dialog({
				bgiframe: true,
				modal: true,
				closeOnEscape : false,
				resizable : false,
				buttons: { "Upload": function() { $("#upload_form").submit(); } }
			});
		
		{% else %}
		jQuery('#id_title').slugify('#id_slug');
		{% endif %}
	
		$("a.zoom").fancybox({
			'overlayOpacity'	:	0.7,
			'overlayColor'		:	'#FFF',
			'zoomSpeedIn'		:	500,
			'zoomSpeedOut'		:	500,
			'overlayShow'		:	false
		});
		
		$('#flickr_description').keyup(function(){
			limitChars('flickr_description', 500, 'charlimitflickr');
	 	})
		limitChars('flickr_description', 500, 'charlimitflickr');
	});
	
	function limitChars(textid, limit, infodiv)
	{
		var text = $('#'+textid).val();	
		var textlength = text.length;
		if(textlength > limit)
		{
			$('#' + infodiv).html('You cannot write more then '+limit+' characters!');
			$('#'+textid).val(text.substr(0,limit));
			return false;
		}
		else
		{
			$('#' + infodiv).html('You have '+ (limit - textlength) +' characters left.');
			return true;
		}
	}
	
	
	var map;
    function init() {
        map = new OpenLayers.Map('map');
		var lon = -98.6;
		var lat = 38.5;
		var zoom = 3;
        var ghyb = new OpenLayers.Layer.Google(
            "Google Hybrid",
            {type: G_HYBRID_MAP, numZoomLevels: 20}
        );
		map.addLayers([ghyb]);
        map.setCenter(new OpenLayers.LonLat(lon, lat), zoom);
		
		map.addControl(new OpenLayers.Control.MousePosition());
		
		var markers = new OpenLayers.Layer.Markers( "Markers" );
		map.addLayer(markers);

		var size = new OpenLayers.Size(32,32);
		var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
		var icon = new OpenLayers.Icon('http://maps.google.com/mapfiles/ms/micons/red-dot.png',size,offset);
		markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat(lon, lat),icon));

    }
	
	init();
{% endblock %}