{% extends "story/base.html" %}


{% load i18n %}
{% load smart_if %}


{% block content %}

{% if not image %}
<div id="upload_dialog" class="upload_dialog" title="Upload Photo">
	<form action="{{ upload_form_url }}" name="upload_form" id="upload_form" method="post" enctype="multipart/form-data">
		{{ upload_form.as_p }}
	</form>
</div>
{% endif %}


<div class="grid_10 genericForm">
	<form action="{{ form_url }}" method="post">
	<h4>Photo Info</h4>
	{% if status.length %}
	<p>
		<label>Status :</label><span class="icon-{% if status == "Approved" %}accept{% else %}exclamation{% endif %}"></span>&nbsp; {{ status }}
	</p>
	{% endif %}
	{{ form.as_p }}
	<p>
		<label for="id_authors">Byline:</label>
		<select name="authors" id="id_authors" multiple size="8">
			{% for member in newsrooms_members %}
				<option {% for author in authors %} {% if member == author %} selected {% endif %} {% endfor %}  value="{{member.id}}">{{ member }} ( {%for newsroom in member.newsroom_members.all%} {{ newsroom }} {% endfor %} ) </option>
			{% endfor %}
		</select>
	</p>
	<p>
		<label>Inherited Tags:</label>
		<span class="inputDiv" id="inherited_tags">{% for tag in inherited_tags %} <span class="tag">{{tag}}</span> {% endfor %}</span>
	</p>
	
	<div class="clear"></div>
	
	<p>
		<label>Tags:</label>
		<span class="inputDiv">
		{% for tag in tags %}
			<input type="checkbox" name="tag_{{tag.id}}" value="{{tag}}" id="tag_{{tag.id}}"  {% for used_tag in used_tags %} {% if tag.id == used_tag.id %} checked {% endif %} {% endfor %} > {{tag}}
			{% if forloop.counter|divisibleby:4 %}<br/>{% endif %}
		{% endfor %}
		</span>
	</p>
	
	<div class="clear"></div>
	<br/>
	
	<p>
		<label>Flickr Description:</label>
		<span class="inputDiv">
			<textarea name="flickr_description" id="flickr_description" rows="8" cols="40">{{ flickr_payload.blurb }}</textarea>
			<br/>
			<span id="charlimitflickr"></span>
		</span>
	</p>
	
	<div class="clear"></div>
	<br/>
	
	<p>
		<label>GeoTag:</label>
		{{ geotag.point }}
		<div id="map" class="smallmap"></div>
	</p>
	
	<div class="clear"></div>
	<br/>
	
	<div class="inputSubmit">
		{% if image %}
		<input type="submit" value="Continue &rarr;">
		{% endif %}
	</div>
	
	</form>
	
</div>	

<div class="grid_6">
	{% if image %}
	<h4>Metadata & URLs</h4>
	<a class="zoom" title="{{ image.title }}" href="{{ image.get_original_url }}"><img src="{{ image.get_thumbnail_url }}" class="outline" /></a>
	<div>Original Image:
		<ul>
			<li style="list-style-type:none;">Width : {{ image.get_width }}</li>
			<li style="list-style-type:none;">Height : {{ image.get_height }}</li>
			<li style="list-style-type:none;">URL : <a href="{{ image.get_original_url }}" target="_blank">{{ image.get_original_url }}</a></li>
			<li style="list-style-type:none;">::METADATA::</li>
			{% for key,value in image.get_info.items %}
			<li style="list-style-type:none;">{{ key }} : {{ value }}</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
</div>

<div class="clear"></div>

{% endblock %}


{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}templates/n21alpha/css/google.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}templates/n21alpha/css/openlayers.css" />
{% endblock %}

{% block extra_scripts %}
<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ GOOGLE_MAPS_API_KEY }}'></script>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
{% endblock %}




{% block inline_styles %}
	.ui-dialog-titlebar-close { display: none; }
{% endblock %}


{% block inline_scripts %}
	$(function() {
		$("#id_date_taken").datepicker();
		
		{% if not image %}
			$("#upload_dialog").dialog({
				bgiframe: true,
				modal: true,
				closeOnEscape : false,
				resizable : false,
				buttons: { "Upload": function() { $("#upload_form").submit(); } }
			});
		
		{% else %}
		jQuery('#id_title').slugify('#id_slug');
		{% endif %}
	
		$("a.zoom").fancybox({
			'overlayOpacity'	:	0.7,
			'overlayColor'		:	'#FFF',
			'zoomSpeedIn'		:	500,
			'zoomSpeedOut'		:	500,
			'overlayShow'		:	false
		});
		
		$('#flickr_description').keyup(function(){
			limitChars('flickr_description', 500, 'charlimitflickr');
	 	})
		limitChars('flickr_description', 500, 'charlimitflickr');
	});
	
	function limitChars(textid, limit, infodiv)
	{
		var text = $('#'+textid).val();	
		var textlength = text.length;
		if(textlength > limit)
		{
			$('#' + infodiv).html('You cannot write more then '+limit+' characters!');
			$('#'+textid).val(text.substr(0,limit));
			return false;
		}
		else
		{
			$('#' + infodiv).html('You have '+ (limit - textlength) +' characters left.');
			return true;
		}
	}
	
	
	var map;
    function init() {
        map = new OpenLayers.Map('map');
        map.addControl(new OpenLayers.Control.LayerSwitcher());
        var gphy = new OpenLayers.Layer.Google(
            "Google Physical",
            {type: G_PHYSICAL_MAP}
        );
        var gmap = new OpenLayers.Layer.Google(
            "Google Streets", // the default
            {numZoomLevels: 20}
        );
        var ghyb = new OpenLayers.Layer.Google(
            "Google Hybrid",
            {type: G_HYBRID_MAP, numZoomLevels: 20}
        );
        var gsat = new OpenLayers.Layer.Google(
            "Google Satellite",
            {type: G_SATELLITE_MAP, numZoomLevels: 22}
        );
        map.addLayers([gmap, ghyb, gphy, gsat]);
        map.setCenter(new OpenLayers.LonLat(10.2, 48.9), 5);
    }
	
	init();
{% endblock %}