{% extends "story/base.html" %}

{% load i18n %}
{% load smart_if %}
{% load uni_form_tags %}
{% load discussion_tags %}


{% block content %}

<div class="grid_10">
<form action="{{ form_url }}" class="uniForm" method="post" enctype="multipart/form-data">
	
	<div class="genericForm contentheader">
		<h4>Video Asset Information</h4>
		
		{% if mediaclass %}
			<div style="padding:5px;">
				<span class="icon-{% if mediaclass.status == "Approved" %}accept{% else %}{% if mediaclass.status == "Rejected" %}exclamation{% else %}pending{% endif %}{% endif %}"></span> STATUS: {{mediaclass.status}}
				<a href="#editorscomments">[View Editor's Comments]</a>
			</div>
		{% endif %}
		
		{% if multimedia.id %}
			<div style="padding:10px;">
				{% if multimedia.video %}
				<a rel="shadowbox[Mixed];" href="{{ multimedia.video.url }}"><span class="icon-mplayer"></span> PREVIEW VIDEO</a>
				<br/><br/>
				<a href="{{ multimedia.video.url }}">VIDEO IS ON AMS SERVER {{ multimedia.video.url }} (right-click save as)</a>
				{% endif %}
				If video is over 40MB please use the filename <strong>news21v{{ multimedia.id }}.(mov or m4v)</strong> for the HQ File
			</div>
		{% endif %}
		
		
		{% with form.helper as helper %}
		    {% uni_form form helper %}
		{% endwith %}
		
		
		<fieldset class="inlineLabels">
			<div class="ctrlHolder " id="div_id_authors">
				<label for="id_authors">Authors:</label>
				<select name="authors" id="id_authors" class="selectmultiple" multiple="true" size="8">
					{% for member in newsrooms_members %}
						<option {% for author in authors %} {% if member == author %} selected {% endif %} {% endfor %}  value="{{member.id}}">{{ member }} ( {%for newsroom in member.newsroom_members.all%} {{ newsroom }} {% endfor %} ) </option>
					{% endfor %}
				</select>
			</div>
		
			<div class="ctrlHolder " id="div_id_inherited_tags">
				<label style="padding-top:9px;">Inherited Tags:</label>
				<span class="inputDiv" id="inherited_tags"></span>
			</div>
			<div class="ctrlHolder " id="div_id_tags">
				<label>Tags:</label>
				<div class="inputDiv" style="margin-left:48%;">
				{% for tag in tags %}
					<input type="checkbox" name="tag_{{tag.id}}" value="{{tag}}" id="tag_{{tag.id}}" {% for used_tag in used_tags %} {% if tag == used_tag %} checked="true" {% endif %} {% endfor %}  /> {{tag}}
					{% if forloop.counter|divisibleby:2 %}<br/>{% endif %}
				{% endfor %}
				</div>
			</div>
		</fieldset>
		
		<fieldset class="inlineLabels">
			<div class="ctrlHolder" id="div_id_geo_tags">
				<label style="width:50px;">GeoTag:  <br/><span id="geotag_point">{{ geotag.point.x|default:"-98.6" }} , {{ geotag.point.y|default:"38.5" }}</span><input type="hidden" id="id_geo_tag_lat" name="geo_tag_lat" value="{{ geotag.point.y|default:"38.5" }}"><input type="hidden" id="id_geo_tag_lon" name="geo_tag_lon" value="{{ geotag.point.x|default:"-98.6" }}"></label>
				<div class="inputDiv" style="margin-left:65px;">
					<div id="map" class="smallmap"></div>
				</div>
			</div>
		</fieldset>
		
		<div class="clear"></div>
		<br/>
		
		<br/>
		<div class="inputSubmit">
			<input type="submit" value="Continue &rarr;">
		</div>
		
	</div>
	
</form>
</div>	

<div class="grid_6">
	<h4>Instructions/Help</h4>
	1) Find the size of your video.
	<br/><br/>
	2) If over 40MB, you will need to ftp it to external server. If under 40MB, you can upload it directly into the system.
	<br/><br/>
	3) When over 40MB, you must first save the video information. Once saved you will be given the filename you will need to use upon ftp.
	<br/><br/>
	4) The (over 40MB) filename does NOT include the extension ... but please only use .mov or .m4v
</div>

<div class="clear"></div>


{% if mediaclass %}
<div class="grid_16 contentheader">
	{% comment_counts_for_objects [mediaclass] as comment_count_dict %}
	<h4 id="editorscomments">Editor's Comments {{comment_count_dict}}</h4>
	<div><span class="icon-{% if mediaclass.status == "Approved" %}accept{% else %}{% if mediaclass.status == "Rejected" %}exclamation{% else %}pending{% endif %}{% endif %}"></span> STATUS: {{mediaclass.status}} : EDITING STAGE: {{mediaclass.stage}} </div>
	{% comment_tree_for_object mediaclass as comments %}
	{% for comment in comments %}
		<div style="padding:15px;" class="sidebar-right-listing image-selector alternating-row-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
			Commented: {{ comment.pub_date|date:"M d, Y @ f" }} By: {{ comment.user }}<br/>
			{{ comment }}
		</div>
	{% endfor %}
	{% if comments.count == 0 %}
		<div>Your editors have not made any comments yet.</div>
	{% endif %}
	{% if is_editor %}
		<div>
		<form action="{% url editorsdesk_update_status_multimedia mediaclass.id %}" class="uniForm" method="post">
			
			{% with editorcommentform.helper as helper %}
			    {% uni_form editorcommentform helper %}
			{% endwith %}
			
		</form>
		</div>
	{% endif %}
</div>
<div class="clear"></div>
<br/>
{% endif %}


{% endblock %}




{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}templates/{{ SITE_STYLE }}/css/google.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}templates/{{ SITE_STYLE }}/css/openlayers.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni-form-generic.css" type="text/css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni-form.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}shadowbox/shadowbox.css">

{% endblock %}

{% block extra_scripts %}
<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ google_maps_api_key }}'></script>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>

<script type="text/javascript" src="{{ MEDIA_URL }}uni_form/uni-form.jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}ajax_validation/jquery-ajax-validation.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}ajax_validation/jquery-uni-form.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}shadowbox/shadowbox.js"></script>
{% endblock %}


{% block inline_scripts %}
	Shadowbox.init({overlayOpacity:0.90});
	
	var map;
    function init() {
        map = new OpenLayers.Map('map');
		var lon = {{ geotag.point.x|default:"-98.6" }};
		var lat = {{ geotag.point.y|default:"38.5" }};
		var zoom = 3;
        var ghyb = new OpenLayers.Layer.Google(
            "Google Hybrid",
            {type: G_HYBRID_MAP, numZoomLevels: 20}
        );
		map.addLayers([ghyb]);
        map.setCenter(new OpenLayers.LonLat(lon, lat), zoom);
		
		map.addControl(new OpenLayers.Control.MousePosition());
		
		var markers = new OpenLayers.Layer.Markers( "Markers" );
		map.addLayer(markers);

		var size = new OpenLayers.Size(32,32);
		var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
		var icon = new OpenLayers.Icon('http://maps.google.com/mapfiles/ms/micons/red-dot.png',size,offset);
		markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat(lon, lat),icon));

		map.events.register("click", map, function(e) { 
			markers.clearMarkers()
			var lonlat = map.getLonLatFromViewPortPx(e.xy);
			$("#geotag_point").html(lonlat.lon+' , '+lonlat.lat)
			$("#id_geo_tag_lat").val(lonlat.lat)
			$("#id_geo_tag_lon").val(lonlat.lon)
			markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat(lonlat.lon,lonlat.lat),icon.clone()));
		});
    }
	
	init();
{% endblock %}