{% extends "core/base_main.html" %}
{% load i18n %}
{% load smart_if %}
{% load inbox %}

{% block content %}

	{% if request.GET.msg %}
		<p class="warning">{{ request.GET.msg }}</p>
	{% endif %}
	
	<div class="grid_8">
		<div class="contentcontainer">
		<h4 class="module-header">News21 Announcements</h4>
		{% if site_wide_announcements %}
	        <div id="site_wide_announcements" class="announcements">
                {% for announcement in site_wide_announcements %}
                    <div class="announcement-title">{{ announcement }} - <a href="{% url announcement_hide announcement.pk %}?next={{ request.path }}">[Hide]</a></div>
 					<div class="announcement-body">{{ announcement.content }}</div>
                {% endfor %}
	        </div>
	    {% endif %}
		<br/><br/>
		<h4 class="module-header">Messages</h4>
		<ul class="subnavilist">
		    <li><a href="{% url messages_inbox %} ">{% trans "Inbox" %} ({% inbox_count %})</a></li>
		    <li><a href="{% url messages_outbox %} ">{% trans "Sent Messages" %}</a></li>
		    <li><a href="{% url messages_compose %} ">{% trans "New Message" %}</a></li>
		    <li><a href="{% url messages_trash %} ">{% trans "Trash" %}</a></li>
		</ul>
		</div>
	</div>
	<div class="grid_8">
		<div class="contentcontainer">
		<h4 class="module-header">Your Content <a href="{% url metastory_new %}">[+]</a></h4>
		{% for package in metastories %}
		<div class="sidebar-right-listing alternating-row-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
			{% for photo in story_photos %}
				{% if photo.id == package.primary_image %}
				<a href="{% url metastory_edit package.id %}" style="vertical-align:middle"><img src="{{ photo.get_tiny_thumbnail_url }}" style="vertical-align:middle" class="outline" /></a>
				{% endif %}
			{% endfor %}
			<a href="{% url metastory_edit package.id %}" style="vertical-align:middle">{{ package }}</a><span class="icon-{% if package.status == "Approved" %}accept{% else %}{% if package.status == "Rejected" %}exclamation{% else %}pending{% endif %}{% endif %}"></span>
		</div>
		{% endfor %}
		{% if metastories.count == 0 %}
			<div>You have not created any story packages yet.</div>
		{% endif %}
		<br/><br/>
		<h4 class="module-header">Recent Activity</h4>
		{% for entry in entries %}
		<div class="sidebar-right-listing alternating-row-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
			<span class="icon-{% if entry.status == "Approved" %}accept{% else %}{% if entry.status == "Rejected" %}exclamation{% else %}pending{% endif %}{% endif %}"></span> {{ entry.status }} <a href="#">{{ entry }}</a> {{ entry.updated_at|date }} {{ entry.updated_by }}
		</div>
		{% endfor %}
	
		{% if entries.count == 0 %}
			<div>You have not had any activity over the last 2 weeks.</div>
		{% endif %}
		</div>
	</div>
{% endblock %}