{% extends "core/base_main.html" %}
{% load i18n %}
{% load smart_if %}

{% block content %}

{% if request.GET.msg %}
	<p class="warning">{{ request.GET.msg }}</p>
{% endif %}


<div class="grid_16"><h3>Your Dashboard</h3></div>
<div class="grid_10">
	<h4>Recent Activity</h4>
	{% for entry in entries %}
	<div>
		<span class="icon-{% if entry.status == "Approved" %}accept{% else %}exclamation{% endif %}"></span> {{ entry.status }} <a href="#">{{ entry }}</a> {{ entry.updated_at|date }} {{ entry.updated_by }}
	</div>
	{% endfor %}
	
	{% if entries.count == 0 %}
		<div>You have not had any activity over the last 2 weeks.</div>
	{% endif %}
</div>
<div class="grid_6">
	<h4>Your Stories <a href="{% url metastory_new %}">[+]</a></h4>
	{% for story in stories %}
	<div>
		<a href="{% url metastory_edit story.id %}">{{ story }}</a>
	</div>
	{% endfor %}
	{% if stories.count == 0 %}
		<div>You have not created any stories yet.</div>
	{% endif %}
</div>

{% endblock %}