{% extends "core/base_main.html" %}
<!--
	<geo:Point>
		<geo:lat>42.5021</geo:lat> 
		<geo:long>-83.1454</geo:long>
	</geo:Point>
 -->
{% load i18n %}



{% block content %}
<div class="grid_16">
	{% if user.is_authenticated %}
		<h3>Welcome {{ user }},</h3>
	{% else %}
		<div class="grid_16 contentheader">
		<h2>Log-In:</h2>
		<p> <a href="{% url registration_register %}">Register</a> | <a href="{% url user_signin %}">Log-In</a></p>
		<div class="login">

		    <form id="auth_form" name="auth_form" action="{% url user_signin %}" method="post">
		    <input type="hidden" name="next" value="{{ next }}" />
			<fieldset>


				<legend>{% trans "Sign In Using Your Account ID" %}</legend>
				<div class="form-row"><label for="id_username">{% trans "Username:" %}</label><br />{{ form2.username }}</div>
				<div class="form-row"><label for="id_password">{% trans "Password" %}</label><br />{{ form2.password }}</div>

		        <div class="submit-row"><input type="submit" name="blogin" value="{% trans "Sign in" %}"> </div>
			</fieldset>	
		</form>
		</div>
		{% comment %}
		<div class="login" style="padding-left:15px;padding-top:15px;">
			<form id="openid_form" name="openid_form" action="{% url user_signin %}" method="post">
			    <input type="hidden" name="action" value="verify" />
			    <input type="hidden" name="next" value="{{ next }}" />
				<fieldset>
					<legend>{% trans "Sign In Using Your OpenID URL" %}</legend>
					<div id="openid_choice">
			    		<p>Please click your account provider:</p>
			    		<div id="openid_btns"></div>
			    	</div>
			    	    <div id="openid_input_area">
			                <label for="id_openid_url">{% trans "OpenId URL :" %}</label>{{ form1.openid_url }}
			                <input name="openid_submit" type="submit" value="{% trans "Sign in with OpenID" %}">
			            </div>
		
				</fieldset>
			</form>	
		</div>	
		{% endcomment %}
		
		{% block extra_styles %}
		<link rel="stylesheet" href="{{ MEDIA_URL }}templates/n21alpha/css/openid.css" />
		{% endblock %}

		{% comment %}
		{% block extra_scripts %}
		<script type="text/javascript" src="{{ MEDIA_URL }}templates/n21alpha/js/openid-jquery.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {
		    openid.init('id_openid_url');
		});
		</script>
		{% endblock %}
		{% endcomment %}
		
	{% endif %}
</div>
{% endblock %}