{% extends "core/base_main.html" %}

{% load i18n %}
{% load smart_if %}
{% load jquery_validation %}
{% load uni_form_tags %}
{% load avatar_tags %}

{% block content %}

{% if request.GET.msg %}
	<p class="warning">{{ request.GET.msg }}</p>
{% endif %}


<div class="grid_10">
	<div class="contentcontainer">
		<h4>Profile Information</h4>
		<form action="{% url save_profile %}" method="post" class="uniForm" id="profileform">
			{% with form.helper as helper %}
			    {% uni_form form helper %}
			{% endwith %}
		</form>
	</div>
	<br/>
</div>

<div class="grid_6">
	<div class="contentcontainer">
		<h4>Your Avatar/Photo {% comment %} (<a href="http://www.gravatar.com">gravatar.com</a>) {% endcomment %}</h4>
		{% avatar user 250 %}<br/><a href="{% url avatar_change %}">Change your photo <br/>Warning: You will leave this page. Save if needed!</a>
	</div>
</div>
{% endblock %}



{% block extra_styles %}
<link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni-form-generic.css" type="text/css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni-form.css" type="text/css" />
{% endblock %}


{% block extra_scripts %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}uni_form/uni-form.jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}ajax_validation/jquery-ajax-validation.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}ajax_validation/jquery-uni-form.js"></script>
{% endblock %}


{% block inline_scripts %}
    $(document).ready(function (){
        $('#profileform').validate('{% url validate_user_profile %}', { type: 'p' , fields: ['first_name','last_name','bio','hometown', 'address', 'address_city', 'address_state', 'address_zip', 'ethnicity','school','non_edu_email'], callback: uniform_callback });

		$("a.helptip").parent(".formHint").click(function() {
			var hid = $(this).attr('id');
			window.location.href = '/help#profile_'+hid.replace('hint_id_','');
		});

    });
{% endblock %}